{% macro goods_display(goods) %}

    <div class="col-sm-2">
        <a href="{{ url_for('shop.goods_all_item', name=goods.name) }}"><img src=" {{ goods.img_path }} " class="log"></a><br>
        <b>name:</b> {{ goods.name }}<br>
        <b>price:</b> {{ goods.price }}<br>
    </div>



{% endmacro %}
<!-- template present name, price, image or other things,
add new good and using this function can display item -->

{% macro order_sheet(sheet) %}

    <div class="row">
        <div class="col-sm-2">
            {{ sheet.users.username }}
        </div>
        <div class="col-sm-3">
            <a href="{{ url_for('shop.order_status', id=sheet.id) }}">{{ sheet.id }}</a>
        </div>
        <div class="col-sm-3">
            {{ sheet.buy_date}}
        </div>
        <div class="col-sm-2">
            {% if sheet.complete_on %}
                <b>complete</b>
            {% else %}
                <b>wait</b>
            {% endif %}
        </div>       
    </div>

{% endmacro %}
<!-- show order sheet status, id link to detailed menu -->

{% macro order_display_item(item) %}

<div class="row">
    <div class="col-sm-2">
        {{ item.name }}
    </div>
    <div class="col-sm-2">
        {{ item.price }}
    </div>
    <div class="col-sm-2">
        {{ item.num }}
    </div>
</div>

{% endmacro%}