
{% extends 'layouts/base.html' %}
{% from "shop/display_temp.html" import goods_display %}

{% block post %}

    <div class="container">
        <div class="row">

        {% for i in  goods %}

          {{ goods_display(i) }}

        {% endfor %}
        
        </div>

    </div>
    
{% endblock %}

<!-- using display function present every good of database on web -->