
{% extends 'layouts/base.html' %}

{% block post %}

<div class="container">

        <form method="POST">

            <div class="row">
                <div class="col-sm-3">
                    <h1><b>{{ goods.name }}</b></h1><br>
                    <img src=" {{ goods.img_path }} " class="log">
                    <h2>Price: {{ goods.price }}</h2><br>
                </div>

                <div class="colsm-3">
                    <h2>{{ goods.text }}</h2><br>
                </div>
                
            </div>

            <div class="row">
                <div class="col-sm-offset-5">

                    {% if current_user.is_active %}

                        <h3>amount</h3>
                        <input type="integer" name="num" value="">
                        <input class="btn" type="submit" value="add"> 

                    {% else %}

                        <h2>You must Login</h2>

                    {% endif %}

                </div>
            </div>

        </form>

</div>
    
{% endblock %}
<!-- show content of goods  -->
