{% extends 'layouts/base.html' %}
{% from "shop/display_temp.html" import order_display_item %}

{% block post %}
<div class="row">
    <h3>your wallet:  {{ current_user.wallet }}</h3>
</div>

<div class="row">

    <div class="col-sm-offset-1">

        <div class="col-sm-2">
            <h4>name</h4>
        </div>
        <div class="col-sm-2">
            <h4>price</h4>
        </div>
        <div class="col-sm-2">
            <h4>num</h4>
        </div>

    </div>

</div>
<hr />

<div class="row">
    <div class="col-sm-offset-1">

        {% for item in order_id_status %}
            {{ order_display_item(item) }}
        {% endfor %}

    </div>

</div>
<hr />

<div class="row">
    {% if order_id_status[0].list.complete_on %}

        <div class="col-sm-offset-7">
                <b>complete</b>
        </div>

    {% else %}

        <div class="col-sm-offset-7">

            <form action="" method="POST">
                <input type="checkbox" name="ok" value="ok" checked>Ok<br>
                <input type="submit" value="Checkout">
            </form>

        </div>

    {% endif %}    
</div>
<hr />

{% endblock %}

<!-- using display function present every good of database on web -->