{% extends 'layouts/base.html' %}
{% from "shop/display_temp.html" import order_sheet %}

{% block post %}
    
        {% if current_user.is_active %}

            <div class="row">
                <h3><b>Order</b></h3>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <b>user</b>
                </div>
                <div class="col-sm-3">
                    <b>order number</b>
                </div>
                <div class="col-sm-3">
                    <b>date</b>
                </div>
                <div class="col-sm-2">
                    <b>status</b>
                </div>
            </div><hr />      

            <div>
                {% for i in shop_list %}
                {{ order_sheet(i) }}<br>
                {% endfor %}
            </div>

        {% else %}

            <h3>You must Login to receive information</h3>   

        {% endif %}

{% endblock %}
<!-- using display function present every good of database on web -->