{% macro render_field(field) %}

    <div class="form-group">
        {{ field.label }}<br>
        {{ field(**kwargs)|safe }}<br>

        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    </div>

{% endmacro %}
<!-- model function that display Form in html, present error if error exit  -->

{% macro post_sheet_edit(post) %}

    <div class=row>

        <div class="col-sm-2">
            {{ post.edit_date }}
        </div>
        <div class="col-sm-3">
            {{ post.title }}
         </div>
         <div class="col-sm-1">
             <a href="{{ url_for('admin.post_del', title=post.title) }}" class="btn btn-block" role="btn">del</a>
         </div>
         <div class="col-sm-1">
                <a href="{{ url_for('admin.post_renew', title=post.title) }}" class="btn btn-block" role="btn">edit</a>
        </div>

    </div>

{% endmacro %}
<!-- makie function that present info every post and set btn -->

{% macro goods_sheet_edit(goods) %}

    <div class=row>

        <div class="col-sm-2">
            {{ goods.upload_date }}
        </div>
        <div class="col-sm-2">
            {{ goods.name }}
         </div>
         <div class="col-sm-1">
            {{ goods.price }}
        </div>
         <div class="col-sm-1">
             <a href="{{ url_for('admin.goods_del', name=goods.name) }}" class="btn btn-block" role="btn">del</a>
         </div>
         <div class="col-sm-1">
                <a href="{{ url_for('admin.goods_renew', name=goods.name) }}" class="btn btn-block" role="btn">edit</a>
        </div>

    </div>

{% endmacro %}
<!-- make function that display info from server where data postion is -->

{% macro user_sheet_edit(user) %}

    <div class=row>

        <div class="col-sm-2">
            {{ user.email }}
        </div>
        <div class="col-sm-3">
            {{ user.username }}
         </div>
         <div class="col-sm-1">
             <a href="{{ url_for('admin.user_del', username=user.username) }}" class="btn btn-block" role="btn">del</a>
         </div>
         <div class="col-sm-1">
                <a href="{{ url_for('admin.user_edit', username=user.username) }}" class="btn btn-block" role="btn">edit</a>
        </div>

    </div>

{% endmacro %}
<!-- makie function that present info every user and set btn -->