{% extends 'layouts/base_admin.html' %}

{% block post %}

    {% if current_user.is_admin %}

        <div class="col-sm-6">
            <h3><b>Welcome administer</b></h3>
        </div>

    {% elif current_user.is_active %}

        <div class="col-sm-6">
            <h3><b>You are not administer</b></h3>
        </div>

    {% else %}

        <div class="col-sm-6">
            {% from "admin/_util.html" import render_field %}
            <form class="form" method="POST" action="" role="form">
                {{ form.hidden_tag() }}
                {{ render_field(form.email, placeholder="email") }}<br>
                {{ render_field(form.password, placeholder="password") }}<br>
                <p><input class="btn btn-default btn-submit" type="submit" value="Login"></p>
            </form>
        </div>

    {% endif %}

{% endblock %}
<!-- make condition that confirm your identity
if you don't login, set loginform -->