{% extends 'layouts/base_admin.html' %}

{% block post %}

    <div class="col-sm-6 col-sm-offset-1">

        <form method="POST" enctype="multipart/form-data">
            <p><b>name</b></p>
            <input type="String" name="name"><br><br>
            <p><b>price</b></p>
            <input type="Integer" name="price"><br><br>
            <p><b>text</b></p>
            <textarea class="form" name="text"></textarea><br><br>
            <p><b>upload picture</b></p>
            <input type="file" name="file"><br>
            <input type="submit" value="Upload">
        </form>

    </div>

{% endblock %}
<!-- admin edit info that admin want to upload, then press submit make info to server -->
