{% extends 'layouts/base_admin.html' %}

{% block post %}

<div class="col-sm-8">

        <form class="form" method="POST" action="" role="form">
                <p><b>name</b></p>
                <input type="string" name="name" value={{ goods.name }}><br><br>
                <p><b>price</b></p>
                <input type="Integer" name="price" value={{ goods.price }}><br><br>
                <p><b>upload_date</b></p>
                <input type="date" name="upload_date" value={{ goods.upload_date }}><br><br>
                <p><b>text</b></p>
                <textarea class="form-control" rows="3" name="text">{{ goods.text }}</textarea><br>
                <p><input class="btn btn-default btn-submit" type="submit" value="save"></p>
        </form>

</div>

{% endblock %}
<!-- admin change content and press save, then send data to server -->