{% extends 'layouts/base_admin.html' %}

{% block post %}

<div class="col-sm-8">
        <form class="form" method="POST" action="" role="form">
                <p><b>title</b></p>
                <input type="string" name="title" value={{ post.title }}><br><br>
                <p><b>text</b></p>
                <textarea class="form-control" rows="3" name="text">{{ post.text }}</textarea><br>
                <p><input class="btn btn-default btn-submit" type="submit" value="save"></p>
        </form>
</div>

{% endblock %}
<!-- get data from server, and make form that admin can modify -->