{% extends 'layouts/base_admin.html' %}
{% from "admin/_util.html" import render_field %}

{% block post %}

<form id="loginForm" class="form form-register" method="POST" action="" role="form">

    {{ render_field(form.title, placeholder="title") }}<br>
    {{ render_field(form.text, placeholder="content") }}<br>
    <p><input class="btn btn-default btn-submit" type="submit" value="save"></p>
    
</form>

{% endblock %}
<!--after get class template, make form that admin can input info -->