{% extends 'layouts/base_admin.html' %}

{% block post %}

<div class="col-sm-8">
        <form class="form" method="POST" action="" role="form">
                <p><b>email</b></p>
                <input type="email" name="email" value={{ user_edit.email }}><br><br>
                <p><b>username</b></p>
                <input type="string" name="username" value={{ user_edit.username }}><br><br>
                <p><b>password</b></p>
                <input type="password" name="password" minlength="8" value={{ user_edit.passward }}><br><br>
                <p><input class="btn btn-default btn-submit" type="submit" value="save"></p>
        </form>
</div>

{% endblock %}
<!-- get data from server, and make form that admin can modify -->