{% macro render_field(field) %}

    <div class="form-group">

        <b>{{ field.label }}</b><br>
        {{ field(**kwargs)|safe }}<br>
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        
    </div>

{% endmacro %}
<!-- model function that display Form in html,present error if error exit  -->
