{% extends 'layouts/base.html' %}

{% block post %}
    <div>
        {% from "account/_util.html" import render_field %}
        <form id="loginForm" class="form form-register" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            {{ render_field(form.email, placeholder="email") }}<br>
            {{ render_field(form.password, placeholder="password") }}<br>
            <p><input class="btn btn-default btn-submit" type="submit" value="Login"></p>
        </form>
        <!-- call form.email with render_field template, placeholder set text in ,and set btn 
        conrtol data for send to server  -->

        <a href="/account/register"><h4>register</h4></a><br>
        <!-- set url can change to another page -->
    </div>

{% endblock %}
