{% extends 'layouts/base.html' %}
{% from "account/_util.html" import render_field %}

{% block post %}

<form id="loginForm" class="form form-register" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.username, placeholder="Username") }}<br>
    {{ render_field(form.email, placeholder="Email") }}<br>
    {{ render_field(form.password, placeholder="Password") }}<br>
    {{ render_field(form.confirm, placeholder="Password (again)") }}<br>
    <p><input class="btn btn-default btn-submit" type="submit" value="Sign up"></p>
</form>

<a href="/account/login"><h4>login</h4></a><br>
  
{% endblock %}
