<!DOCTYPE html>
<html lang="en">

    <head>
        <title>shopping admin</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .box {
                margin-bottom: 50px;
                text-align: center;
            }
            img {
                max-width: 100%;
                max-height: auto;
            }
            .log {
                width: 200px;
                height: 150px;
                object-fit: contain;
                padding: 5px;
            }
            @media (max-width: 568px) {
                .form-group a {
                    font-size: 24px;
                }
            }
        </style>
        <div class="container text-center" style="padding: 20px">
            <div class="row">
                <h1 style="font-style: italic;"><b>administer</b></h1>

            </div>
        </div>
    </head>

    <body>
        <!--  login and other button-->
        <div class="container-fluid" style="padding: 10px">

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1 text-center">

                    <form>

                        <div class="form-group">
                            {% if current_user.is_active %}
                            <a href="/admin/logout" class="btn btn-primary btn-block" role="button">Logout</a>
                            {% else %}
                            <a href="/admin" class="btn btn-primary btn-block" role="button">Login</a> 
                            {% endif %}     
                        </div>
                        <div class="form-group">
                                <a href="/admin/post_sheet" class="btn btn-primary" role="button">post sheet</a>
                        </div>
    
                        <div class="form-group">
                            <a href="/admin/post_addnew" class="btn btn-block" role="button">add post</a>
                        </div>

                        <div class="form-group">
                            <a href="/admin/goods_sheet" class="btn btn-primary" role="button">Goods sheet</a>
                        </div>
                        <div class="form-group">
                                <a href="/admin/goods_upload" class="btn" role="button">add Good</a>
                        </div>
                        <div class="form-group">
                            <a href="/admin/user_sheet" class="btn btn-primary" role="button">user sheet</a>
                      </div>
                      
                    </form>

                </div>
                
                <!-- news post -->
                <div class="col-sm-7 col-sm-offset-1">
                        {% block post %}

                        {% endblock %}
                </div>
            </div>
            
        </div>
        
        
        <!-- use csrf_token protect, if use samesite, not to use this -->
        {% if csrf_token()|safe %}
        <div style="visibility: hidden; display: none">
          <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
        </div>
        {% endif %}

    </body>
</html>