<!DOCTYPE html>
<html lang="en">

    <head>
        <title>shopping Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            $(function(){

                console.log(typeof $);

            });
        
        
        </script>
        <style>
            .box {
                margin-bottom: 50px;
                text-align: center;
            }
            .box .boxheading img {
                height: 200px;
            }
            img {
                max-width: 100%;
                max-height: auto;
            }
            .log {
                width: 200px;
                height: 150px;
                object-fit: contain;
                padding: 5px;
            }
            @media (max-width: 368px) {
                .form-group a {
                    font-size: 24px;
                }
            }
        </style>
    </head>

    <body>

        <div class="jumbotron" style="background: url(/static/img/back_ground.jpg) no-repeat center;">
          <h1>Home Page</h1>
          <p>This page use Shopping Web Design</p> 
        </div>

        <!-- New goods -->
        <div class="container">
            <div class="row">
                {% from "main/_util.html" import new_goods %}
                {% if g.three_goods %}
                    {% for goods in g.three_goods %}
                        {{ new_goods(goods) }}
                    {% endfor %}
                
                {% else %}

                    <div class="col-sm-12">
                        <div class="box">
                            <h3>No goods</h3>
                        </div>                  
                    </div>

                {% endif %}

            </div>
        </div>

        <!--  login or other button-->
        <div class="container">

            <div class="row">
                <div class="col-sm-3 text-center">

                    <form>
                        <div class="form-group">
                            {% if current_user.username %}
                                <h3><b>welcome, {{ current_user.username }}</b></h3> 
                            {% else %}
                                <h3>Hello</h3>
                            {% endif %}
                        </div>               
                        <div class="form-group">
                            {% if current_user.is_active %}
                            <a href="/account/logout" class="btn btn-primary btn-block" role="button">Logout</a>
                            {% else %}
                            <a href="/account/login" class="btn btn-primary btn-block" role="button">Login</a> 
                            {% endif %}     
                        </div>
                        <div class="form-group">
                            <a href="/" class="btn btn-primary btn-block" role="button">Home</a>
                        </div>
                        <div class="form-group">
                            <a href="/shop/goods_all" class="btn btn-primary btn-block" role="button">Goods</a>
                        </div>
                        <div class="form-group">
                            <a href="/shop/order_sheet" class="btn btn-primary btn-block" role="button">Cart</a>
                        </div>
                        
                    </form>

                </div>
                
                <!-- news post -->
                <div class="col-sm-8 col-sm-offset-1">
                        {% block post %}

                        {% endblock %}
                </div>
            </div>
            
        </div>
        
        <!-- use csrf_token protect, if use smaesite, not to do this -->
        {% if csrf_token()|safe %}
        <div style="visibility: hidden; display: none">
          <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
        </div>
        {% endif %}
        


    </body>
</html>