{% macro index_post(post) %}

    <div class=row>

        <div class="col-sm-2 col-sm-offset-1">
            {{ post.edit_date }}
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <a href="{{ url_for('main.new_content', title=post.title) }}">{{ post.title }}</a>
         </div>

    </div>

{% endmacro %}
<!-- present post sheet -->

{% macro new_goods(goods) %}

    <div class="col-sm-4">
        <div class="box">
            <div class="boxheading">
                <a href="{{ url_for('shop.goods_all_item', name=goods.name) }}"><img src=" {{ goods.img_path }} "></a>
            </div>
            <div class="box-body">
                <h3>{{ goods.name }}</h3>
                <p>{{ goods.price }}</p>
            </div>
        </div>                  
    </div>

{% endmacro %}
<!-- show goods name, price, content, -->