{% extends 'layouts/base.html' %}
{% from "main/_util.html" import index_post %}

{% block post %}

    <div class="row">   
          <h1>NEW!</h1>
    </div>
    
    <div>
        
        <div class="container">
            {% for i in post%}

                {{ index_post(i) }}
                
            {% endfor %}
        </div>
      
    </div>

{% endblock %}
<!-- present post sheet -->