{% extends 'layouts/base.html' %}

{% block post %}

    <div class="row">   
          <h1>{{ post.title }}</h1>
          <p>{{ post.edit_date }}<p><br>
    </div>
    
    <div>
        <div class="col-sm-8 col-sm-offset-1">
            {{ post.text}}
        </div>
    </div>

{% endblock %}
<!-- present content form post that client or user select -->